<div class="contenedor" id="servicio">
  <h2 class="subtitulo">Acerca de mí</h2>
  <div class="contenedor-servicio">
      <img src="/assets/img/produccion.png" alt="">
      <div class="checklist-servicio">
          <div class="service">
              <p>Soy una persona proactiva, excelente compañera de equipo, organizada y responsable. Disfruto mucho aprender cosas nuevas, mi objetivo es un puesto donde pueda compartir mi experiencia y a su vez sumar nuevos conocimientos.</p>
          </div>
          <div class="service">
              <h3 class="n-service"> <span class="number">2</span>Educación</h3>
              <p ><strong>Universidad Tecnológica de Puebla: <br> <br></strong><strong>Ingeniería:</strong> en Desarrollo y Gestión de software  Septiembre 2020 - May 2020. </p>
              <br>
              <p><strong>TSU:</strong> Desarrollo de Software Multiplataforma Septiembre 2018 -  Agosto 2020 </p>
          </div>
          <div class="service">
              <h3 class="n-service"> <span class="number">3</span>Experiencia</h3>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, quas repellat! Placeat quasi deleniti, inventore assumenda consequuntur dolorum harum quisquam.</p>
          </div>
      </div>
  </div>
</div>
