<div class="contenedor" id="expertos">
  <h2 class="subtitulo">Habilidades en :</h2>
  <div class="experts">
      <div class="cont-expert">
          <img src="/assets/img/luke-chesser-JKUTrJ4vK00-unsplash.jpg" alt="">
          <h3 class="n-expert">Angular</h3>
      </div>
      <div class="cont-expert">
          <img src="/assets/img/luke-chesser-JKUTrJ4vK00-unsplash.jpg" alt="">
          <h3 class="n-expert">JavaScript</h3>
      </div>
      <div class="cont-expert">
          <img src="/assets/img/luke-chesser-JKUTrJ4vK00-unsplash.jpg" alt="">
          <h3 class="n-expert">HTML</h3>
      </div>
      <div class="cont-expert">
        <img src="/assets/img/luke-chesser-JKUTrJ4vK00-unsplash.jpg" alt="">
        <h3 class="n-expert">CSS3</h3>
    </div>
    </div>
</div>
