<section class="gallery" id="portafolio">
  <div class="contenedor">
       <h2 class="subtitulo">Proyectos</h2>
       <div class="contenedor-galeria">
           <img src="/assets/img/avion.jpg" alt="" class="img-galeria">
           <img src="/assets/img/avion.jpg" alt="" class="img-galeria">
           <img src="/assets/img/equipo.jpg" alt="" class="img-galeria">
           <img src="/assets/img/startup.jpg" alt="" class="img-galeria">
           <img src="/assets/img/viaje.jpg" alt="" class="img-galeria">
           <img src="/assets/img/avion.jpg" alt="" class="img-galeria">
       </div>
  </div>
</section>
